      .pipelines                { border: 1px solid black; }
      .pipelines td, .pipelines th { width: 250; text-align: right; }
      .grid                   { padding: 1px; width: 100px; height=100px; border: 0px 
solid black; }
      .grid td, .grid th { width: 25px; text-align: right; }
      .border_grid                   { padding: 1px; width:100px; height=100px; border : 1px solid black; }
      .border_grid td, .border_grid th { border: 1px solid black; width: 25px; text-align: right; }
      .border_grid .run            { background-color: #0f0; }
      .border_grid .done          { background-color: #000; }
      .border_grid .fail          { background-color: #f00; }
      .border_grid .rescheduling          { background-color: #0ff; }
